[submodule "oracle-linux-manager/olm-api"]
	path = oracle-linux-manager/olm-api
	url = git@github.com:etho201/olm-api.git
	branch = master
[submodule "ksplice-offline/oraclelinux-reposync"]
	path = ksplice-offline/oraclelinux-reposync
	url = git@github.com:Djelibeybi/oraclelinux-reposync.git
	branch = main
