#!/bin/bash

chmod 600 /etc/rhn/spacewalk-repo-sync/uln.conf

echo '[main] 
username=USERNAME@EMAIL.COM
password=PASSWORD' > /etc/rhn/spacewalk-repo-sync/uln.conf

chmod 400 /etc/rhn/spacewalk-repo-sync/uln.conf

# # Uncomment the below if you wish to sync the Ksplice channels.
# spacewalk-repo-sync -c ol7_x86_64_ksplice --latest -i ksplice-*,python-ksplice-*,uptrack-offline-*,uptrack-updates-5.4.17*
# spacewalk-repo-sync -c ol7_x86_64_userspace_ksplice --latest -i ksplice-*,python-ksplice-*,uptrack-offline-*,uptrack-updates-5.4.17*
# spacewalk-repo-sync -c ol8_x86_64_ksplice -i ksplice-*,python-ksplice-*,uptrack-offline-*,uptrack-updates-5.4.17*
# spacewalk-repo-sync -c ol8_x86_64_userspace_ksplice -i ksplice-*,python-ksplice-*,uptrack-offline-*,uptrack-updates-5.4.17*