---
- github_username: your_github_username
- github_pat: ghp_AaBbCcDd112233445566778899
- scm_url: https://github.com/etho201/olam-project
- scm_branch: main
- project_name: My OLAM Project
- project_description: Automated deployments with OLAM
- playbook: playbook.yml
- vault_password: Password1
- inventory:
  - name: Atlanta
    host_filter: 192.168.56.2[1-2]
  - name: Raleigh
    host_filter: 192.168.56.2[3-4]